header{
	height:100px;
	background-color:#8B786D;
	margin:0;
	padding:0;
	}
	body{
	border-spacing: 2px;
	}
header h1{
	font-size:200%;
	margin:0;
    font-style: normal;
	padding-right: 110px; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    padding-top: 30px;
	}
    
 header p1
 { 
    position: absolute;
width: 61px;
height: 61px;
left: 145px;
top: 26px;
border-radius: 50%;
    background: #D9D9D9;


font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 59px;
text-align: center;

color: #000000;
 }	
 
 
	content{
		height:950px;
		width: 1510px;
		background:#E9ECF5;
		border-top:#FFFFFF 2px solid;
		margin:0;
		padding:0;
		float:left;
		}
		 p2{
    
			position: absolute;
			top: 25%;
			
			font-size:150%;
			padding-left: 600px;
			font-style: bold;
			font-family: 'Courier New', Courier, monospace ;
		   
		}  
	
 .imgsize{
	position: absolute;
	width: 400px;
	height:400px;
	
	top: 226px;
    } 
  .sizeimg
  {
    height:350px;
    width:600px;
	box-shadow: 0 0 10px rgba(0,0,0,2.5);
}  
.pull
{
	position: absolute;
	width: 600px;
	height:400px;
	left: 425px;
	top: 250px;
}
.svg
{
	position: absolute;
	width: 600px;
	height:400px;
	left: 1000px;
	top: 226px;
}
.svgg
{
	position: absolute;
	width: 400px;
	height:200px;
	right: 1150px;
	top: 650px;
}
.cssload-loader-walk {
	width: 213px;
	height: 85px;
	position: absolute;
	left: 50%;
	top: 850px;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
}
.cssload-loader-walk > div {
	content: "";
	width: 43px;
	height: 43px;
	background: rgb(33,150,243);
	border-radius: 100%;
	position: absolute;
	animation: cssload-animate 2.3s linear infinite;
		-o-animation: cssload-animate 2.3s linear infinite;
		-ms-animation: cssload-animate 2.3s linear infinite;
		-webkit-animation: cssload-animate 2.3s linear infinite;
		-moz-animation: cssload-animate 2.3s linear infinite;
}
.cssload-loader-walk > div:nth-of-type(1) {
	animation-delay: -0.46s;
		-o-animation-delay: -0.46s;
		-ms-animation-delay: -0.46s;
		-webkit-animation-delay: -0.46s;
		-moz-animation-delay: -0.46s;
}
.cssload-loader-walk > div:nth-of-type(2) {
	animation-delay: -0.92s;
		-o-animation-delay: -0.92s;
		-ms-animation-delay: -0.92s;
		-webkit-animation-delay: -0.92s;
		-moz-animation-delay: -0.92s;
}
.cssload-loader-walk > div:nth-of-type(3) {
	animation-delay: -1.38s;
		-o-animation-delay: -1.38s;
		-ms-animation-delay: -1.38s;
		-webkit-animation-delay: -1.38s;
		-moz-animation-delay: -1.38s;
}
.cssload-loader-walk > div:nth-of-type(4) {
	animation-delay: -1.84s;
		-o-animation-delay: -1.84s;
		-ms-animation-delay: -1.84s;
		-webkit-animation-delay: -1.84s;
		-moz-animation-delay: -1.84s;
}



@keyframes cssload-animate {
	0% {
		left: 213px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	90% {
		width: 85px;
		height: 32px;
	}
	95% {
		left: 213px;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	100% {
		left: 213px;
		top: 0;
	}
}

@-o-keyframes cssload-animate {
	0% {
		left: 213px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	90% {
		width: 85px;
		height: 32px;
	}
	95% {
		left: 213px;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	100% {
		left: 213px;
		top: 0;
	}
}

@-ms-keyframes cssload-animate {
	0% {
		left: 213px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	90% {
		width: 85px;
		height: 32px;
	}
	95% {
		left: 213px;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	100% {
		left: 213px;
		top: 0;
	}
}

@-webkit-keyframes cssload-animate {
	0% {
		left: 213px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	90% {
		width: 85px;
		height: 32px;
	}
	95% {
		left: 213px;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	100% {
		left: 213px;
		top: 0;
	}
}

@-moz-keyframes cssload-animate {
	0% {
		left: 213px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	90% {
		width: 85px;
		height: 32px;
	}
	95% {
		left: 213px;
		top: -43px;
		width: 43px;
		height: 43px;
	}
	100% {
		left: 213px;
		top: 0;
	}
}
footer{
	height:50px;
	background:#8B786D;
	border-top:#FFFFFF 2px solid;
	margin-top:950px;
	 padding:0; 
	
	}
